@model WebApplication2.Models.form1

<table border="2" width="2">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>MAIL ID</th>
        <th>COURSE</th>
    </tr>
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.age</td>
        <td>@Model.mailid</td>
        <td>@Model.course</td>
    </tr>

</table>